

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #f2cb05;
    --cor02: #bfa004;
    --cor03: #594b02;
    --cor04: #262001;
    --cor05: #0d0d0d;

}

header {
    background-color: var(--cor05);
}